
*.env
*.idea

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json

# Node modules
node_modules/

# Lambda
lambda/dist/
lambda/node_modules/